<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="scripts/jquery-3.3.1.min.js"></script>
    <script src="scripts/main.js"></script>
</head>
<body>
    <h2>CRUD web para sustentar meu webnamoro</h2>
    <p>teste jQ</p>

    <div id="crud-id">
        <ul id="ul-id">
            
            <li id="create-id">
                <h3>[C]reate - Registre-se</h3>
                Nome:<br/>
                Usuário:<br/>
                Senha:<br/>
                CPF:<br/>
                E-mail:<br/>
            </li>

            <li id="read-id">
                <h3>[R]ead - Procurar dados</h3>
                Nome do Usuário:<br/>
                CPF:<br/>
            </li>

            <li id="update-id">
                <h3>[U]pdate - Atualizar dados do Usuário</h3>
                Nome:<br/>
                Usuário:<br/>
                Senha:<br/>
                CPF:<br/>
                E-mail:<br/>
            </li>

            <li id="delete-id">
                <h3>[D]elete - Deletar Usuário</h3> 
                <!-- botao delete com ajax -->
                <button type="button" onclick="loadDoc()">Deletar</button>
            </li>
        </ul>
    </div>
</body>

<footer>
    <h4>what a nice footer for a crud, man! mathG A.Aguiar copyright, bitch! dont copy this shit code</h4>
</footer>
</html>

